#convoDiv{
    border: 3px solid gainsboro;
    height: 460px;
    width: 22%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 18px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 18px;
}

h2{
    text-align: center;
    text-decoration: underline;
}

.nodeDiv{
    background-color: lightblue;
    margin-left: 5px;
}

#operationsDiv{
    border: 3px solid gainsboro;
    height: 132px;
    width: 22%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 18px;
}

#textBox{
    height: 28px;
    width: 93%;
    margin-left: 8px;
    margin-top: 6px;
    border-radius: 11px;
}

#submitBtn{
    margin-top: 9px;
    /*float: right; */
    text-align: center;
    margin-left: 108px;
    height: 72px;
    width: 74px;
    background-color: gainsboro;
    border-radius: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: 2px solid silver;


}

body{
    background-color: gray;
    color: black;
}